.Clock{
    max-width: 500px;
    margin: 30px auto;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #1E3163;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .7);
    color: white;
}

.time{
    font-size: 50px;
}